sh/
*.md
*.out
test.json
*.zip
.DS_Store
DEBUG*
APIKEY*
TEST_TMP_*
DOCKER_*
HZN_*
PRIVATE_KEY_FILE
PUBLIC_KEY_FILE
TAG
apiKey*
check.*
horizon/
NOIZE_GROUP
NOIZE_CLIENT
HOTWORD_MODEL
HOTWORD_MOCK
LOG_LEVEL
LOGTO
DEBUG
