{
  "label": "sdr2msghub",
  "description": "SDR2MSGHUB for ${HZN_ORG_ID}",
  "services": [
    {
      "serviceUrl": "ibm.sdr2msghub",
      "serviceArch": "amd64",
      "serviceVersions": [
        {
          "version": "0.0.1",
          "priority": {},
          "upgradePolicy": {}
        }
      ],
      "serviceOrgid": "${HZN_ORG_ID}"
    },
    {
      "serviceUrl": "ibm.sdr2msghub",
      "serviceArch": "arm",
      "serviceVersions": [
        {
          "version": "0.0.1",
          "priority": {},
          "upgradePolicy": {}
        }
      ],
      "serviceOrgid": "${HZN_ORG_ID}"
    },
    {
      "serviceUrl": "ibm.sdr2msghub",
      "serviceArch": "arm64",
      "serviceVersions": [
        {
          "version": "0.0.1",
          "priority": {},
          "upgradePolicy": {}
        }
      ],
      "serviceOrgid": "${HZN_ORG_ID}"
    },
    {
      "serviceUrl": "com.github.dcmartin.open-horizon.startup",
      "serviceArch": "amd64",
      "serviceVersions": [
        {
          "version": "0.0.1",
          "priority": {},
          "upgradePolicy": {}
        }
      ],
      "serviceOrgid": "${HZN_ORG_ID}"
    },
    {
      "serviceUrl": "com.github.dcmartin.open-horizon.startup",
      "serviceArch": "arm",
      "serviceVersions": [
        {
          "version": "0.0.1",
          "priority": {},
          "upgradePolicy": {}
        }
      ],
      "serviceOrgid": "${HZN_ORG_ID}"
    },
    {
      "serviceUrl": "com.github.dcmartin.open-horizon.startup",
      "serviceArch": "arm64",
      "serviceVersions": [
        {
          "version": "0.0.1",
          "priority": {},
          "upgradePolicy": {}
        }
      ],
      "serviceOrgid": "${HZN_ORG_ID}"
    }
  ]
}
