*.key
*.pem
*.pub
input.json
kafkaKey.json
NODES
devices.csv
STARTUP_*
MSGHUB*
LOG[_A-Z]*
HZNMONITOR_*
MQTT2MQTT_*
HZNSETUP_*
test.*.gif
.vscode
LOGTO
NOIZE_*
darknet/
FFT_*
kafkacat.sh.*
test-config-*
test.json
*.out
*.zip
.DS_Store
MQTT_*
DEBUG*
APIKEY*
TEST_TMP_*
DOCKER_*
HZN_*
CPU_*
HAL_*
MOTION_*
PRIVATE_KEY_FILE
PUBLIC_KEY_FILE
SETUP_*
TAG
WAN_*
YOLO4MOTION_*
YOLO2MSGHUB_*
YOLO_*
apiKey*
check.*
cpuconf*
horizon.json
horizon/
sdrconf*
MQTT2KAFKA_*
test.*.json
test.*.jpeg
HZNPKG_REPO
KAFKA_APIKEY
*.deb
