{
  "horizon": {
    "hostname": "${EXCHANGE_HOSTNAME}",
    "namespace": "${EXCHANGE_NAMESPACE}",
    "network": {
      "name": "${EXCHANGE_NETWORK}",
      "driver": "${EXCHANGE_NETWORK_DRIVER}"
    },
    "identity": {
      "comp": "${SOMECOMP}",
      "user": "${SOMEUSER}",
      "name": "${SOMENAME}",
      "subj": "${SOMESUBJ}"
    },
    "root": "root"
  },
  "services": {
    "agbot": {
      "name": "agbot",
      "image": "openhorizon/amd64_agbot",
      "tag": "${AGBOT_TAG}",
      "stable": "2.24.18",
      "port": 3091,
      "listen": "http",
      "bot": {
        "name": "agbot1",
        "token": "agbot1pw"
      }
    },
    "css": {
      "name": "css-api",
      "image": "openhorizon/amd64_cloud-sync-service",
      "tag": "${CSS_TAG}",
      "stable": "1.0.18",
      "port": 9443,
      "transport": "http",
      "listen": "http"
    },
    "exchange": {
      "name": "exchange-api",
      "image": "openhorizon/amd64_exchange-api",
      "tag": "${EXCHANGE_TAG}",
      "stable": "2.12.3",
      "version": "v1",
      "port": 3090,
      "listen": "http",
      "root": "root",
      "log": "WARN",
      "password": "Horizon-Rul3s",
      "encoded": "$2a$10$Mh5kobwYwN2WE3LcKkpqzeBzV8phhuzZ/xHD2QRwt1uIswAWNpm7K",
      "org": "${HZN_ORG_ID}",
      "admin": {
        "username": "${HZN_USER_ID}",
        "password": "${HZN_EXCHANGE_APIKEY}"
      }
    },
    "cssdb": {
      "name": "css-db",
      "image": "mongo",
      "tag": "4.0.6",
      "database": "css-db",
      "volume": "cssdb"
    },
    "exchangedb": {
      "name": "exchange-db",
      "image": "postgres",
      "tag": "9",
      "port": 5432,
      "user": "admin",
      "password": "",
      "database": "exchange",
      "volume": "exchangedb"
    }
  }
}
