{
  "horizon": {
    "hostname": "${EXCHANGE_HOSTNAME}",
    "namespace": "${EXCHANGE_NAMESPACE}",
    "network": {
      "name": "${EXCHANGE_NETWORK}",
      "driver": "${EXCHANGE_NETWORK_DRIVER}"
    },
    "identity": {
      "comp": "${SOMECOMP}",
      "user": "${SOMEUSER}",
      "name": "${SOMENAME}",
      "subj": "${SOMESUBJ}"
    },
    "root": "root"
  },
  "services": {
    "agbot": {
      "name": "agbot",
      "image": "openhorizon/${BUILD_ARCH}_agbot",
      "tag": "${AGBOT_TAG}",
      "stable": "2.24.18",
      "port": 3091,
      "listen": "http",
      "bot": {
        "name": "agbot1",
        "token": "agbot1pw"
      }
    },
    "css": {
      "name": "css-api",
      "image": "dcmartin/edge-sync-service",
      "tag": "${CSS_TAG}",
      "stable": "latest",
      "port": 9443,
      "transport": "http",
      "listen": "http"
    },
    "exchange": {
      "name": "exchange-api",
      "image": "openhorizon/${BUILD_ARCH}_exchange-api",
      "tag": "${EXCHANGE_TAG}",
      "stable": "2.12.3",
      "version": "v1",
      "port": 3090,
      "listen": "http",
      "root": "root",
      "log": "WARN",
      "password": "${EXCHANGE_PASSWORD}",
      "encoded": "${EXCHANGE_PASSWORD_ENCODED}",
      "org": "${HZN_ORG_ID}",
      "admin": {
        "username": "${USER}",
        "password": "whocares"
      }
    },
    "cssdb": {
      "name": "css-db",
      "image": "mongo",
      "tag": "4.4.1",
      "database": "css-db",
      "volume": "cssdb"
    },
    "exchangedb": {
      "name": "exchange-db",
      "image": "postgres",
      "tag": "9",
      "port": 5432,
      "user": "admin",
      "password": "",
      "database": "exchange",
      "volume": "exchangedb"
    }
  }
}
