{
  "log_level": "${SERVICE_LOG_LEVEL}",
  "stage": "experimental",
  "version": "${SERVICE_VERSION}",
  "slug": "${SERVICE_LABEL}",
  "url": "${SERVICE_URI}",
  "startup": null,
  "boot": "auto",
  "arch": [],
  "devices": [],
  "hassio_api": false,
  "hassio_role": "default",
  "host_network": false,
  "homeassistant_api": false,
  "timeout": 90
}
