[Writable]
Persistence = 'database'
LogLevel = '${EDGEX_LOG_LEVEL}'

[Service]
BootTimeout = 30000
ClientMonitor = 15000
CheckInterval = '10s'
Host = '${LOGGING_SERVICE_HOST}'
Port = ${LOGGING_SERVICE_PORT}
Protocol = '${LOGGING_SERVICE_PROTOCOL}'
MaxResultCount = 50000
StartupMsg = 'This is the Support Logging Microservice'
Timeout = 5000

[Registry]
Host = '${EDGEX_REGISTRY_HOST}'
Port = ${EDGEX_REGISTRY_PORT}
Type = '${EDGEX_REGISTRY_TYPE}'

[Logging]
EnableRemote = ${EDGEX_LOG_REMOTE}
File = '/edgex/logs/edgex-support-logging.log'

[Databases]
  [Databases.Primary]
  Host = '${DATABASE_PRIMARY_HOST}'
  Name = 'logging'
  Password = 'password'
  Port = ${DATABASE_PRIMARY_PORT}
  Username = 'logging'
  Timeout = 5000
  Type = '${DATABASE_PRIMARY_TYPE}'
