*.json
*.md
*.out
*.zip
.DS_Store
APIKEY*
CPU_*
DEBUG*
DOCKER_*
HAL_*
HZN_*
HZN_SETUP_*
IBM-*
MOTION_*
MQTT2KAFKA_*
PRIVATE_KEY_FILE
PUBLIC_KEY_FILE
SETUP_*
TAG
TEST_TMP_*
WAN_*
YOLO2MSGHUB_*
YOLO4MOTION_*
YOLO_*
apiKey*
check.*
cpuconf*
darknet/
horizon.json
horizon/
kafkacat.sh.*
sdrconf*
sh/
test-config-*
test.json
yolo/darknet
