{
  "label": "edgex",
  "description": "edgex foundry as a pattern",
  "services": [
    {
      "serviceUrl": "com.github.dcmartin.open-horizon.edgex",
      "serviceOrgid": "dcmartin",
      "serviceArch": "amd64",
      "serviceVersions": [
        {
          "version": "0.0.1"
        }
      ]
    }
  ]
}
